<p>Hello {{name}}!</p>
<p [ngClass]="messageStyles">{{greetUser()}}</p>
<p [style.color]="highlightColor">{{greetUser()}}</p>
<p [ngStyle]="greetingStyles">{{greetUser()}}</p>
<div>
  <button (click)="onClick($event)">Greet</button>
</div>
<p *ngIf="name">{{greeting}}</p>
<div>
  <input [(ngModel)]="name" type="text">
</div>
<div *ngIf="name">{{greetUser()}}</div>

<div *ngIf="name; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>{{greetUser()}}</ng-template>
<ng-template #elseBlock>{{greeting}}</ng-template>

<div [ngSwitch]="color">
  <div *ngSwitchCase="'blue'">You picked blue</div>
  <div *ngSwitchCase="'red'">You picked red</div>
  <div *ngSwitchCase="'yellow'">You picked yellow</div>
  <div *ngSwitchCaseDefault>Please pick a color</div>
</div>

<div *ngFor="let name of names; index as index">
  <h2>{{index + 1}} - {{name}}</h2>
</div>
<div>
  <h2>Hello {{myName}}</h2>
  <button (click)="sayWelcomeToParent()">Say Welcome</button>
</div>
