<p>Hello {{name}}!</p>
<p [ngClass]="messageStyles">{{greetUser()}}</p>
<p [style.color]="highlightColor">{{greetUser()}}</p>
<p [ngStyle]="greetingStyles">{{greetUser()}}</p>
<div>
  <button (click)="onClick($event)">Greet</button>
</div>
<p *ngIf="name">{{greeting}}</p>
<div>
  <input [(ngModel)]="name" type="text">
</div>
<div *ngIf="name">{{greetUser()}}</div>

<div *ngIf="name; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>{{greetUser()}}</ng-template>
<ng-template #elseBlock>{{greeting}}</ng-template>
